@keyframes about {
  0%{
    box-shadow: 10px 10px #ffffff;
  }
  25%{
    box-shadow: -10px 10px #ffffff;
  }
  50%{
    box-shadow: -10px -10px #ffffff;
  }
  75%{
    box-shadow: 10px -10px #ffffff;
  }
  100%{
    box-shadow: 10px 10px #ffffff;
  }

  
}
.about div:first-child{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  max-width: 400px;
}

.about div:first-child img{
  border-radius: 20px;
  animation: about 3s infinite cubic-bezier(0.445, 0.05, 0.55, 0.95);
  cursor: pointer;
  transition: .5s;
  margin-bottom: 20px;
}
.about img:first-child:hover{
  filter: brightness(80%);
}
.about div:first-child span{
  transition: .5s;
  text-align: justify;
  line-height: 0;
  opacity: 0;
}
.guest-comment{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  max-width: 1200px;
  margin: 0 auto;
  height: 300px;
}
.guest-comment h1{
  font-size: 32px;
}
.guest-comment div a:first-child{
  margin-right: 20px;
}

.send-comment{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  margin: auto;
}
.send-comment h1{
  font-size: 36px;
}
.send-comment input{
  height: 60px;
  width: 400px;
  font-size: 20px;
  margin: 20px 0;
}
.send-comment form{
  display: flex;
  flex-direction: column;
  align-items: center;
}