<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/style.css' ? now 'U' %}">
  <link rel="stylesheet" href="{% static 'css/catalog.css' ? now 'U' %}">
  <link rel="stylesheet" href="{% static 'css/slider.css' ? now 'U'  %}">
  <link rel="stylesheet" href="{% static 'css/login.css' ? now 'U'  %}">
  <link rel="stylesheet" href="{% static 'css/about.css' ? now 'U'  %}">
  <link rel="stylesheet" href="{% static 'css/profile.css' ? now 'U'  %}">
  <title>Welcome</title>
</head>
<body>  
  <header>
    <div class="container">
      <div>
        <img src="{% static 'assets/logo.svg' %}" alt="logo">
      </div>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/catalog/">Catalog</a></li>
          <li><a href="/about/">About</a></li>
          {% if request.user.is_superuser %}
          <li><a href="/create/">Add product</a></li>
          {% endif %}
        </ul>
      </nav>
      <div class="extra-icon">
        <a href="{% url 'cart' %}">
          <img src="{% static 'assets/cart.svg' %}" alt="cart">
        </a>
        {% if request.user.is_authenticated%}
        <a href="{% url 'profile' %}">
          <img src="{% static 'assets/login.svg' %}" alt="login">
        </a>
        {% else %}
        <a href="{% url 'sign-in' %}">
          <img src="{% static 'assets/login.svg' %}" alt="login">
        </a>
        {% endif %}
      </div>
    </div>
  </header>
  {% block content %}
  {% endblock %}
  <footer>
    <div class="container">
      
    <div class="links">
      <div class="nav">
        <a href="/">Home</a>
        <a href="/catalog/">Catalog</a>
        <a href="/about">About</a>
        <a href="/login">Sign in</a>
        <a href="/login/">Sign up</a>
        <a href="/cart">Cart</a>
      </div>
      <div class="icons">
        <img src="{%static 'assets/icon.svg'%}" alt="icon">
        <img src="{%static 'assets/icon.svg'%}" alt="icon">
        <img src="{%static 'assets/icon.svg'%}" alt="icon">
        <img src="{%static 'assets/icon.svg'%}" alt="icon">
        <img src="{%static 'assets/icon.svg'%}" alt="icon">
      </div>
    </div>
    <div class="map">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d23410.614696775156!2d74.58154977910159!3d42.823709400000006!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x389eb5e0009d2129%3A0x59626f18273a22f8!2sGlobus!5e0!3m2!1sru!2skg!4v1669789445819!5m2!1sru!2skg" width="500" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    </div>
  </footer>

  <script src="{% static 'js/slider.js' %}"></script>
</body>
</html>